<div class="ui fixed inverted menu">
	<div class="ui container">
		<a class="header item">
			<!-- <img class="logo" src="assets/images/logo.png"> -->
			Auth Provider
		</a>
		<div class="right menu">
		<!-- 	<div class="item">
				<a class="ui orange button">Edit Profile</a>
			</div> -->
			<div class="item">
				<a class="ui button" [routerLink]="['/login']">Logout</a>
			</div>
		</div>
	</div>
</div>
<div class="ui main text container">
	<h2 class="ui header">Hi {{user?.firstName}}!</h2>
	<p><b>Username:</b> {{user?.username}} <i class="edit icon"></i></p>
	<p><b>Firs Name:</b> {{user?.firstName}} <i class="edit icon"></i></p>
	<p><b>Last Name:</b> {{user?.lastName}} <i class="edit icon"></i></p>
	<p><b>Phone:</b> {{user?.phone}} <i class="edit icon"></i></p>
	<p><b>Email:</b> {{user?.email}} <i class="edit icon"></i></p>
</div>
