<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dashboard</title>
	<base href="/">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
</head>
<body>
	<style>
		.ui.menu .item img.logo {
			margin-right: 1.5em;
		}
		.main.container {
			margin-top: 7em;
		}
		.wireframe {
			margin-top: 2em;
		}
		.ui.footer.segment {
			margin: 5em 0em 0em;
			padding: 5em 0em;
		}
		.ui.grid > .row > .column {
			margin-bottom: 10px;
		}
	</style>
	<div class="container">
		<div class="ui inverted menu">
			<div class="ui container">
				<a class="header item">
					Dashboard
				</a>
				<div class="right menu">
					<div class="item">
						<a class="ui orange button" href="/logout">Login</a>
					</div>
				</div>
			</div>
		</div>
		{% if email and login %}
		<div >
			<h4 class="ui horizontal divider header">
				User information
			</h4>
			<p><b>Login: </b>{{login}}</p>
			<p><b>Email: </b>{{email}}</p>
		</div>
		{% else %}
		<div class="ui main text container">
			<h4 class="ui horizontal divider header">
				You are not logged in application. Please login
			</h4>
		</div>
		{% endif %}
	</div> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
</body>
</html>




