<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="wrap">
    <div class="ui container">
        <form class="ui large form">
            <h1>Registration</h1>
            <div class="field">
                <label>First Name</label>
                <input name="first" placeholder="First Name" type="text">
            </div>
            <div class="field">
                <label>Last Name</label>
                <input name="last" placeholder="Last Name" type="text">
            </div>
            <div class="field">
                <label>Email</label>
                <input name="email" placeholder="Email" type="email">
            </div>
            <div class="field">
                <label>Phone number</label>
                <input name="number" placeholder="+38" type="tel">
            </div>
            <button class="ui button" type="submit">Submit</button>
            <div class="ui error message"></div>
        </form>
        <!--Priver, kak dela?-->
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>