<!DOCTYPE html>
<html lang="en">
<head>
  <title>AuthProvider</title>
  <base href="/">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/css/semantic.min.css">
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

  <app></app>
  
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/semantic.min.js"></script>
  <script>
   $(document)
    .ready(function() {
      // fix menu when passed
      $('.masthead')
        .visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        })
      ;
      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;
    })
  ;
  </script>
<script src="../static/js/polyfills.js"></script><script src="../static/js/vendor.js"></script><script src="../static/js/app.js"></script></body>
</html>

